.navbar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(117, 225, 159);
    /* padding: 10px; */
    height: 10vh;
}

.nav-logo {
    height: 50px;
    width: 50px;
    padding: 6px;
}

.link {
    padding: 10px;
    margin: 8px;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}